
@media print {
  body * {
    visibility: hidden;
  }
  #bom-panel, #bom-panel * {
    visibility: visible;
  }
  #bom-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
    border: none !important;
  }
  .print-hide {
    display: none !important;
  }
  
  #bom-panel h2, #bom-panel th {
    color: black !important;
  }
  
   #bom-panel td, #bom-panel p {
    color: #333 !important;
  }
  
   #bom-panel tr {
    border-color: #ccc !important;
   }
   
  #bom-panel thead {
    background-color: #eee !important;
  }
}

/* Fix for Expert Mode Toggle Switch */
.toggle-checkbox {
  @apply appearance-none;
  transition: right 0.2s ease-in-out, left 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: absolute;
}

[dir="ltr"] .toggle-checkbox {
  right: 1rem; /* Unchecked position */
}

[dir="rtl"] .toggle-checkbox {
  left: 1rem; /* Unchecked position */
}

[dir="ltr"] .toggle-checkbox:checked {
  right: 0rem; /* Checked position */
}

[dir="rtl"] .toggle-checkbox:checked {
  left: 0rem; /* Checked position */
}


.toggle-checkbox:checked + .toggle-label {
  @apply bg-cyan-600;
}